ormconfig.env
dbconfig.env
node_modules/
k8s/**/secret.env
k8s/**/registry-credentials.json

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
FIRST-STEPS.md
SUMMARY-CONTEXT.md
SUMMARY-CONTEXT-2.md
