{
  "auths": {
    "https://index.docker.io/v1/": {
      "username": "changeme-username",
      "password": "changeme-registry-password-or-access-token",
      "auth": "base64-encoded-username-colon-password"
    }
  }
}
